{{> topbar }}
<div class="product-main-body py-3 px-4 bg-light">
    <div class="left">
        <section class="product-container">
            <div class="product-cover rounded p-3 bg-white">
                <div class="img-container rounded border">
                    <img src="/{{product.Anh.[0]}}" class="rounded" alt="{{product.Ten}}">
                </div>
            </div>
            <div class="product-info d-flex flex-column gap-3">
                <section class="bg-white rounded p-3">
                    <p class="fs-4">{{product.Ten}}</p>
                    <div class="rating mb-3">
                        <span>4.8</span>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <span class="text-muted">(145)</span>
                        <span class="text-muted">|</span>
                        <span class="text-muted">Số lượng còn {{product.SoLuongTon}}</span>
                    </div>
                    <p class="fs-3 fw-bold">{{product.DonGia}}.000Đ</p>
                </section>

                <section class="bg-white rounded p-3">
                    <h6>Thông tin vận chuyển</h6>
                    <p class="text-muted d-flex align-items-center gap-2 fw-light">
                        <i class='bx bx-car fs-4'></i>
                        Giao đến 150/2 Quốc lộ 1K, Đông hòa, Dĩ An, Bình Dương
                    </p>
                </section>

                <section class="bg-white rounded p-3">
                    <h6>Sản phẩm tương tự</h6>
                    <div class="card-container-small mt-4">
                        <div class="card-item rounded border">
                            <a href="/products/" class="item-link">
                                <div class="img-container">
                                    <img class="rounded" src="/img/products/Bảng Phóng Phi Tiêu.jpg" alt="rice">
                                </div>
                            </a>
                            <div class="content">
                                <a href="/products/" class="item-link">
                                    Bảng phóng phi tiêu
                                </a>
                                <p class="fw-bold mt-2 mb-0">25.000Đ</p>
                                <div class="subcontent">
                                    <p class="mb-0">Số lượng còn: 10</p>
                                    <div class="star-rating">
                                        <i class='bx bxs-star'></i>
                                        <span>5.0</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-item rounded border">
                            <a href="/products/" class="item-link">
                                <div class="img-container">
                                    <img class="rounded" src="/img/products/Cà phê G7 3in1.jpg" alt="rice">
                                </div>
                            </a>
                            <div class="content">
                                <a href="/products/" class="item-link">
                                    Cà phê G7 3in1
                                </a>
                                <p class="fw-bold mt-2 mb-0">25.000Đ</p>
                                <div class="subcontent">
                                    <p class="mb-0">Số lượng còn: 10</p>
                                    <div class="star-rating">
                                        <i class='bx bxs-star'></i>
                                        <span>5.0</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-item rounded border">
                            <a href="/products/" class="item-link">
                                <div class="img-container">
                                    <img class="rounded" src="/img/products/Gọng kính SARIFA.jpg" alt="rice">
                                </div>
                            </a>
                            <div class="content">
                                <a href="/products/" class="item-link">
                                    Gọng kính SARIFA
                                </a>
                                <p class="fw-bold mt-2 mb-0">25.000Đ</p>
                                <div class="subcontent">
                                    <p class="mb-0">Số lượng còn: 10</p>
                                    <div class="star-rating">
                                        <i class='bx bxs-star'></i>
                                        <span>5.0</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-item rounded border">
                            <a href="/products/" class="item-link">
                                <div class="img-container">
                                    <img class="rounded" src="/img/products/Đồng hồ Nữ Daniel Klein.png" alt="rice">
                                </div>
                            </a>
                            <div class="content">
                                <a href="/products/" class="item-link">
                                    Đồng hồ Nữ Daniel Klein
                                </a>
                                <p class="fw-bold mt-2 mb-0">25.000Đ</p>
                                <div class="subcontent">
                                    <p class="mb-0">Số lượng còn: 10</p>
                                    <div class="star-rating">
                                        <i class='bx bxs-star'></i>
                                        <span>5.0</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-item rounded border">
                            <a href="/products/" class="item-link">
                                <div class="img-container">
                                    <img class="rounded" src="/img/products/Bảng Phóng Phi Tiêu.jpg" alt="rice">
                                </div>
                            </a>
                            <div class="content">
                                <a href="/products/" class="item-link">
                                    Bảng phóng phi tiêu
                                </a>
                                <p class="fw-bold mt-2 mb-0">25.000Đ</p>
                                <div class="subcontent">
                                    <p class="mb-0">Số lượng còn: 10</p>
                                    <div class="star-rating">
                                        <i class='bx bxs-star'></i>
                                        <span>5.0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <section class="rating-comment bg-white rounded p-3">
            <div class="rating">
                <h6 class="mb-3">Đánh giá của khách hàng</h6>
                <p class="fs-6">Tổng quan</p>
                <div class="rating-overall d-flex gap-3 align-items-center">
                    <span class="fs-3 fw-bold">4.8</span>
                    <div class="fs-5">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                    </div>
                    <span class="text-muted">(250 đánh giá)</span>
                </div>
                <div class="rating-detail">
                    <div class="d-flex gap-3 align-items-center">
                        <div class="star-array">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="rate-bar bg-light rounded-pill p-0">
                            <div class="bg-primary rounded-pill w-50 h-100"></div>
                        </div>
                        <span class="text-muted">200</span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="checkout-form bg-white rounded p-3">
        <div class="product-small-container">
            <div class="img-thumb-container border rounded">
                <div class="img-thumb">
                    <img src="/{{product.Anh.[0]}}" alt="{{product.Ten}}" class="rounded">
                </div>

            </div>
            <span>{{product.Ten}}</span>
        </div>
        <hr class="text-muted">
        <form>
            <h6>Chọn số lượng</h6>
            <div class="input-group w-50 mb-3">
                <button class="btn border" type="button" id="increase-btn">
                    <i class='bx bx-minus'></i>
                </button>
                <input type="number" class="form-control" value="1">
                <button class="btn border" type="button" id="decrease-btn">
                    <i class='bx bx-plus'></i>
                </button>
            </div>
            <h6>Tổng tiền</h6>
            <p class="fw-bold">250.000Đ</p>
            <div class="d-flex flex-column gap-3">
                <button type="submit" class="btn btn-danger">Mua ngay</button>
                <button type="button" class="btn btn-outline-primary d-flex align-items-center justify-content-center">
                    <i class='bx bx-cart-add fs-4'></i>
                    Thêm vào giỏ hàng
                </button>
            </div>
        </form>
    </div>
</div>
{{> footer }}