{{!-- Đây là layout để test chức năng chỉnh sửa tài khoản --}}
<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
    <form action="/editAccount/save" method="post">
        <input type="hidden" name="id" value="{{data.MaND}}">
        <div class="input-group">
            <span class="input-group-text">Hoten</span>
            <input type="text" aria-label="First name" class="form-control" name="fullname" value="{{data.HoTen}}">
        </div>
        <div class="input-group">
            <span class="input-group-text">SDT</span>
            <input type="text" aria-label="First name" class="form-control" name="phone" value="{{data.SDT}}">
        </div>
        <div class="input-group">
            <span class="input-group-text">NgaySinh</span>
            <input type="datetime" aria-label="First name" class="form-control" name="birth" value="{{data.NgaySinh}}">
        </div>
        <div class="input-group">
            <span class="input-group-text">Email</span>
            <input type="text" aria-label="First name" class="form-control" name="email" value="{{data.Email}}">
        </div>
        <div class="input-group">
            <span class="input-group-text">GioiTinh</span>
            <input type="text" aria-label="First name" class="form-control" name="gender" value="{{data.GioiTinh}}">
        </div>
        <div class="input-group">
            <span class="input-group-text">UserName</span>
            <input type="text" aria-label="First name" class="form-control" name="username" value="{{data.UserName}}">
        </div>
        <div class="input-group">
            <span class="input-group-text">Nguoi dung</span>
            {{#ifCond data.LaKhachHang '1'}}
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Khach hang</button>
            {{else}}
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Admin</button>
            {{/ifCond}}

            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Khach hang</a></li>
                <li><a class="dropdown-item" href="#">Admin</a></li>
            </ul>
        </div>
        <div class="input-group">
            <span class="input-group-text">Dia chi</span>
            <input type="text" aria-label="First name" class="form-control" value="{{data.DiaChi}}">
        </div>
        <div class="card-body">
            <button type="submit">save</button>
            <button type="button" onclick="cancel()">return</button>
        </div>
    </form>
</div>

<script>
    function cancel() {
        window.history.back();
    }
</script>